body {
	/*-webkit-font-smoothing: antialiased;*/
	font-family: "Arimo", Helvetica, Arial, sans-serif;
	font-size: 10.5pt;
	margin: 0;
	padding: 0;
	min-width: 1160px;
}

p {
	margin: 0;
}

li.none {
	color: #888;
}

#header {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #ad2300;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	/*border-bottom: 3px solid #661400;*/
	transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
}

.introscreen #header {
	position: fixed;
	padding: 35vh 0 65vh 0;
}

#header #logo {
	display: inline-block;
	font-family: "Sunshiney", serif;
	font-size: 2.6em;
	font-weight: bold;
	font-style: italic;
	padding: 0px 27px 0 15px;
	width: 138px;
	color: #fff;
	/*text-shadow: 0 1px 0px #fff;*/
	cursor: default;
	-moz-user-select: none;
	 -ms-user-select: none;
	     user-select: none;
	-webkit-user-select: none;
}

#header #search {
	display: inline-block;
	left: 180px;
	right: 0;
	color: #fff;
	text-align: left;
	padding: 3px 6px;
	margin: auto 0;
	vertical-align: top;
}

.introscreen #header .subtitle {
	font-size: 24pt;
	margin: 2px 0 15px 0;
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

#header .subtitle {
	font-family: "Sunshiney", sans-serif;
	font-size: 0;
	margin: 0;
	color: #FFEBE6;
	transition: font-size 0.3s, margin 0.3s;
	-webkit-transition: font-size 0.3s, margin 0.3s;
}

#header .subtitle a {
	color: #8AE8FF;
	text-decoration: none;
}

#header input {
	font-family: "Arimo", sans-serif;
}

.introscreen #header .box, .introscreen #header select {
	border-bottom-color: #ffad99;
}

#header .box {
	font-size: 20px;
	border: none;
	color: #ffc2b3;
	border-bottom: 1px solid #ad2300;
	background: none;
	padding: 9px 0;
	outline: none;
	margin-right: 9px;
	text-overflow: ellipsis;
}

#header select {
	font-family: "Arimo", sans-serif;
	font-size: 20px;
	color: #ffc2b3;
	background: transparent;
	padding: 8px 0;
	margin-right: 9px;
	outline: none;
	border: none;
	border-bottom: 1px solid #ad2300;
	cursor: text;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

#header option {
	border: none;
	outline: none;
	background: #ad2300;
}

#header .box:hover, #header select:hover, #header .box:focus, #header select:focus {
	color: #fff;
	border-bottom-color: #fff;
}

#header .box::-webkit-input-placeholder {
	color: #ffc2b3;
	font-size: 18px;
	/*padding-top: 4px;*/
}

#header .box::-moz-placeholder {
	color: #ffc2b3;
	font-size: 18px;
	/*padding-top: 4px;*/
	opacity: 1;
}

#header .box:-ms-input-placeholder {
	color: #ffc2b3;
	font-size: 18px;
	/*padding-top: 4px;*/
}

#header .btn {
	margin: 0 0 0 9px;
	padding: 9px;
	outline: none;
	border: 1px solid #ffad99;
	font-size: 20px;
	font-family: "Arimo", sans-serif;
	background-color: transparent;
	color: #ffd6cc;
	-webkit-transition: -webkit-transform 0.09s, opacity 0.09s;
	transition: transform 0.09s, opacity 0.09s;
}

#header .btn:hover, #header .btn:active {
	color: #ad2300;
	border-color: #fff;
	background-color: rgba(255, 235, 230, 1);
}

#header .btn:active {
	-webkit-transform: scale(0.98, 0.98);
	        transform: scale(0.98, 0.98);
}

#header .btn[disabled] {
	opacity: 0.5;
	color: #ffd6cc;
	background: transparent;
}

#header .btn[disabled]:hover {
	border-color: #ffad99;
}

#header .btn[disabled]:active {
	-webkit-transform: none;
	transform: none;
}

#preferred {
	width: 460px;
}

#count {
	width: 125px;
	margin: 0 3px;
	opacity: 1;
	-moz-appearance: textfield;
}

#count::-webkit-inner-spin-button, #count::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#main {
	width: 100%;
	position: relative;
	margin-top: 0;
	transition: margin-top 0.3s;
	-webkit-transition: margin-top 0.3s;
}

.introscreen #main {
	margin-top: -600px	/* Slide-to-top-y effect */
}

.nice-list {
	margin: 6px 0;
	padding: 0;
}

.nice-list>li {
	list-style-type: none;
	/*padding: 2px;*/
	border-bottom: 1px solid #bbb;
}

.nice-list li.hover {
	outline: 2px solid #900;
}

.nice-list>li:last-child {
	border-bottom: none;
}

.nice-list>li>a {
	display: block;
	border-bottom: 1px solid #e5e5e5;
	text-decoration: none;
}

.nice-list>li>a:hover {
	background-color: #eee;
}

.nice-list>li>a, .nice-list>li>a:visited {
	color: #000;
}

.nice-list>li>a:last-child {
	border-bottom: none;
}

.nice-list>li>a.active {
	background-color: #666;
	color: #fff;
}

.nice-list>li>a.lighthover {
	background-color: #ffe0d9;
}

.course-list {
	background-color: #e9e9e9;
	list-style-type: none;
	padding: 3px 0;
	font-size: 1.1em;
	cursor: default;
}

.course-list>li {
	border-bottom: 1px solid #bbb;
	padding: 3px;
}

.course-list>li:last-child {
	border-bottom: none;
}

.course-list>li>span {
	letter-spacing: 0.04em;
	color: #333;
	font-weight: bold;
	float: right;
	padding: 4px 3px;
}

.section-list {
	margin-left: 3px;
	padding: 0;
}

.section-list li {
	list-style-type: none;
	padding: 1px;
}

.section-list span {
	display: inline-block;
	width: 2.7em;
	letter-spacing: 0.06em;
}

.section-list .active {
	background-color: #666 !important;
	color: #fff !important;
}

.section-list a, .section-list a:visited {
	display: inline-block;
	text-decoration: none;
	color: #333;
	margin-right: 2px;
}

.section-list a:hover {
	background-color: #afafaf;
	color: #fff;
}

#selections {
	float: left;
	/*background-color: #fdd;*/
	width: 165px;
	left: 0;
	overflow: auto;
	margin: 0 3px;
	padding: 6px;
	max-height: 600px;
	border-right: 1px solid #aaa;
}

#selections p {
	font-weight: bold;
}

#selections .nice-list {
	font-size: 0.8em;
	border-color: #888;
}

#selections .nice-list .lighthover span.hover {
	text-decoration: underline;
}

#selections li.none {
	font-size: 1.43em;
}

#selections a {
	padding: 4px;
}

#selections table {
	border-collapse: collapse;
}

.schedule-viewer {
	overflow: hidden;
	/*background: #dfd;*/
	margin: 9px 3px 24px 3px;
	padding: 3px;
	left: 0;
	right: 0;
	text-align: center;
}

.schedule-viewer > table {
	width: 100%;
	border-collapse: collapse;
}

.schedule-viewer th.header {
	font-size: 1.3em;
	padding: 6px;
}

.schedule-viewer th.period {
	border-top: 1px solid #ddd
	/*padding: 3px;*/
}

.schedule-viewer td {
	margin: 0;
	min-width: 140px;
	border-top: 1px solid #ddd;
}

.schedule-viewer td.tall {
	font-size: 1em;
}

.schedule-viewer td.hover div {
	cursor: default;
	outline: 3px solid #900;
}

.schedule-viewer td>div {
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	border-radius: 4.5px;
}

.schedule-viewer>table div>span {
	display: inline-block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

td.nothing {
	border-radius: 0;
}

td.nothing>div {
	height: 15px;
}

tr:last-child td.nothing {
	border-bottom: 1px solid #ddd;
}

td.lecture div, .legend span.lecture {
	background-color: #9ed4e0;
}

td.tutorial div, .legend span.tutorial {
	background-color: #d1e874;
}

td.laboratory div, .legend span.laboratory {
	background-color: #fdff87;
}

td.project div, .legend span.project {
	background-color: #67706f;
}

td.conflict div, .legend span.conflict {
	background-color: #cb8182;
}

td.something div, .legend span.something {
	background-color: #e3a8ff;
}

.legend span {
	padding-left: 6px;
	margin-left: 12px;
	margin-right: 3px;
}

#courses {
	float: right;
	/*background: #ddf;*/
	width: 220px;
	right: 0;
	margin: 0 3px;
	padding: 6px;
	border-left: 1px solid #aaa;
	cursor: default;
}

#courses li {
	font-size: 0.9em;
}

#courses a {
	padding: 6px;
}

#courses span {
	font-weight: bold;
}

#courses .nice-list a {
	color: #afafaf;
}

#courses .nice-list a.active {
	color: #000;
	background: #fff;
}

#courses .nice-list a:hover {
	background: #eee;
}

#conflicting-pairs {
	border-top: 3px solid #bbb;
	clear: both;
	padding: 6px;
}

#conflicting-pairs ul {
	display: inline;
	padding: 3px;
}

#conflicting-pairs li {
	display: inline-block;
	font-size: 0.8em;
	border-right: 1px dotted #ccc;
	list-style-type: none;
	margin: 0;
	padding: 5px;
}

#conflicting-pairs li:last-child {
	border-right: none;
}

#debug {
	border-top: 3px solid #cc0;
	margin: 0;
	padding: 3px;
	background-color: #ffb;
	overflow: hidden;
}

#debug span {
	float: right;
	font-weight: bold;
}

.introscreen footer, .introscreen footer a {
	background: transparent;
	color: #fff;
}

footer {
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 20;
	padding: 3px;
	bottom: 0;
	left: 0;
}

footer, footer a {
	color: #555;
}